/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: "Inter";
}
h1,
h2 {
  font-family: "Noto Serif";
}
.f65 {
  font-size: 65px;
}
.f50 {
  font-size: 50px;
}
.f40 {
  font-size: 40px;
}
.f28 {
  font-size: 28px;
}
p,
.f22 {
  font-size: 22px;
}
.f16 {
  font-size: 16px;
}

.regular {
  font-weight: 400;
}
.medium,
.plants .name {
  font-weight: 500;
}
.semi-bold,
button {
  font-weight: 600;
}
.bold,
.plants .price {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

/* Colors */
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
.half-black {
  color: rgba(0, 0, 0, 0.5);
}
.gray-1 {
  color: #8987a1;
}
.gray-2,
.other-links a {
  color: #6b7280;
}
.primary-color {
  color: #e95a08;
}

/* Elements */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  border: none;
  width: 644px;
  height: 50px;
  padding-left: 20px;
}
button {
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  font-size: 16px;
  height: 50px;
  width: 270px;
}
/* Button animation */
button:hover {
  background-color: #cd4b00;
}

/* Specific overrides */
.join button {
  width: 186px;
}
.plant-lover li {
  list-style: disc;
}

/* Layout */
.body {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navbar */
nav,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  width: 415px;
}

/* Banner */
.banner {
  display: flex;
  align-items: end;
}
.banner div {
  width: 50%;
}

/* Plants Section */
.plants {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 210px;
}
.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plants .container .card .detail {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Plants Lover Section */
.plant-lover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.plant-lover .column-1 {
  position: relative;
}
.badge {
  position: absolute;
  width: 286px;
  height: 286px;
  top: -100px;
  left: 350px;
  filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.6));
  transition: transform 0s;
}
.badge:hover {
  animation: spin 0.5s linear infinite;
}
/* Animation for Trusted Plant Lover Badge */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.plant-lover .column-2,
.plant-lover ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plant-lover li {
  margin-left: 30px ;
}

/* Latest Deal Section */
.latest-deal {
  text-align: center;
  margin-top: 134px;
  margin-bottom: 120px;
}
.latest-deal p {
  margin-top: 15px;
}
.latest-deal .container {
  margin-top: 120px;
  display: flex;
  gap: 28px;
}
.latest-deal .column-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
.latest-deal .card-1,
.latest-deal .card-2 {
  width: 367px;
  height: 201px;
  border-radius: 14px;
}
.latest-deal .card-3 {
  width: 753px;
  height: 423px;
  border-radius: 22px;
}
.latest-deal .card-1 {
  background-image: url(./assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.latest-deal .card-2 {
  background-image: url(./assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.latest-deal .card-3 {
  background-image: url(./assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.latest-deal .card-1,
.latest-deal .card-2,
.latest-deal .card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Join Section */
.join {
  height: 533px;
  width: 100%;
  display: flex;
  gap: 23px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.join .action {
  display: flex;
  align-items: center;
}

/* Footer Section */
.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 110px;
}
.footer .column-1,
.footer .column-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}
.message {
  width: 359px;
}
.socials {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.socials img {
  height: 36px;
  width: 36px;
}

/* Responsive Design */
@media screen and (max-width: 430px) {
  /* Base Adjustments */
  html,
  body {
    width: 100%;
  }

  .body {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
  }

  /* Font Sizes */
  .f65,
  .f50 {
    font-size: 24px;
  }

  .f40,
  .latest-deal h2 {
    font-size: 20px;
  }

  .f28 {
    font-size: 16px;
  }

  p,
  .f22 {
    font-size: 14px;
  }

  footer .f22,
  .f16 {
    font-size: 16px;
  }

  /* Hide Desktop Navigation */
  .nav-home,
  .nav-shop,
  .nav-about,
  .badge {
    display: none;
  }

  /* Navbar */
  nav {
    margin: 13px 16px 28px;
  }

  /* Banner Section */
  .banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
  }

  .banner div,
  .banner img {
    width: 100%;
  }

  .banner .column-1 {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .banner .column-1 h1,
  .banner .column-1 p {
    margin: 0 16px;
  }

  /* Join Section */
  .join input {
    width: 218px;
  }

  .join button {
    width: 103px;
  }

  /* Plants Section */
  .plants {
    margin: 65px 16px 41px;
  }

  .plants .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .plants .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .plants .container .card .detail {
    gap: 10px;
  }

  .plants .container .card img {
    width: 100%;
  }

  /* Buttons */
  button {
    width: 100%;
  }

  /* Plant Lover Section */
  .plant-lover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    margin: 0 16px;
  }

  .plant-lover .column-1 img {
    width: 100%;
  }

  .plant-lover .column-2 li {
    margin-left: 16px;
  }

  /* Latest Deal Section */
  .latest-deal {
    margin: 143px 0 40px;
  }

  .latest-deal p {
    margin: 15px 16px 0px;
  }

  .latest-deal .container {
    margin: 50px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .latest-deal .column-1 {
    gap: 20px;
  }

  .latest-deal .card-1,
  .latest-deal .card-2 {
    width: 100%;
    height: 184px;
  }

  .latest-deal .card-3 {
    width: 100%;
    height: 172px;
  }

  /* Footer Section */
  .footer {
    margin: 50px 16px;
    flex-direction: column;
    gap: 20px;
  }

  .socials {
    display: flex;
    gap: 24px;
    justify-content: left;
  }
}
